<div class="container">
    <div *ngFor="let article of newsData" class="row px-4 my-5">
        <div class="col-sm-7">
          <img [src]="article.urlToImage || defaultImage" [alt]="article.title" class="img-fluid rounded" />
        </div>
        <div class="col-sm-5">
          <h2 class="font-weight-light">
            <a [href]="article.url" target="_blank" rel="noopener noreferrer">{{ article.title }}</a>
          </h2>
          <p class="mt-4">{{ article.description }}</p>
          <p>Saved At: <b>{{ article.savedAt }}</b></p>
        </div>
    </div>
</div>
  